.digitButton {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    // flex-direction: row-reverse;
}
.smallButton {
    width: 100px;
    height: 50px;
}
.buttonski {
    width: 300px;
}
.smalls {
    width: 75px;
    height: 50px;
}